NEXT_PUBLIC_API_BASE_URL=http://localhost:8001
NEXT_PUBLIC_LOCAL_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_PUBLIC_KEY=YOUR-STRIPE-PUBLIC-KEY

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b3JnYW5pYy1hbnQtNDIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_0VdpNkONMiA7B3JaSqWkUE8hIHlv6cRFS4l6F3duBO
