**/node_modules/
**/dist/

.env
Frontend/.env.local
Frontend/.env.development
Frontend/.env.production
Backend/.env

Frontend/.next/

.DS_Store
Thumbs.db

.vscode/

Backend/.env.local
Backend/shared-local-instance.db
Backend/dynamodb-local-metadata.json
shared-local-instance.db